<div class="background d-flex align-items-center justify-content-center">
    <div class="container d-flex align-items-center justify-content-between position-relative py-4">

        <!-- Imagen izquierda -->
        <div class="d-flex align-items-center image-container">
            <img class="border-image" src="assets/imagenes/Mitad Templa Logo colored.png" alt="logo Templa">
        </div>

        <!-- Contenido central -->
        <div class="flex-grow-1 text-center mx-5">
            <img class="LogoLogin mb-3" src="assets/imagenes/LogoLogin.png" alt="logo Templa Login">
            <h2 class="texto-elegante mb-4">Templa Employee <br>Log In</h2>

            <form #loginForm="ngForm" class="d-flex flex-column align-items-center">
                <div class="mb-4 w-75">
                    <input type="text" id="username" name="username" class="form-control custom-input"
                        placeholder="Usuario" required [(ngModel)]="username"
                        [disabled]="isLoading">
                </div>
                <div class="mb-5 w-75">
                    <input type="password" id="password" name="password" class="form-control custom-input"
                        placeholder="Contraseña" required [(ngModel)]="password"
                        [disabled]="isLoading">
                </div>
                <button type="submit" class="btn custom-btn w-75 mt-4" 
                        (click)="login()" 
                        [disabled]="isLoading || !username || !password">
                    <span *ngIf="!isLoading">Log In</span>
                    <span *ngIf="isLoading">
                        <i class="fas fa-spinner fa-spin"></i> Iniciando sesión...
                    </span>
                </button>
                

            </form>
        </div>

        <!-- Imagen derecha -->
        <div class="d-flex align-items-center image-container">
            <img class="border-image flip-horizontal" src="assets/imagenes/Mitad Templa Logo colored.png"
                alt="logo Templa">
        </div>
    </div>
</div>